@keyframes rotate {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(345deg);
    }
}

.header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    right: 0;
    top: 64px;
    background-color:  #2F80ED;
    z-index: 1;
    transform: rotate(-15deg);
    animation: rotate 20s linear infinite;
}
