.kaufman__triangle {
    position: absolute;
    background-image: url(../../../images/triangle.svg);
    background-repeat: no-repeat;
    background-size: 877px 877px;
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    animation: rotate 20s linear infinite;
}
