@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);

.feinman {
    position: relative;
    height: 790px;
    background: url(../../images/feinman.png) 0 100%  no-repeat #F2F2F2;
    background-size: 867px 637px;
    overflow: auto;
}
